<form [formGroup]="ParentFormGroup" (ngSubmit)="onSubmit()">
    <h4>please select privilege to proceed</h4>
    <mat-form-field>
        <input matInput id="autocomplete" placeholder="Privilege" [matAutocomplete]="autocom"
            [formControl]="privilegeCtrl" />
        <mat-autocomplete #autocom="matAutocomplete">
            <mat-option *ngFor="let item of filteredPrivilegeItem" 
            (onSelectionChange) ="dynamicLoginCreator(item)"
            [value]="item">
                {{item}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <div *ngFor="let user of child.controls">
        <form [formGroup]="user">
            <input type="text" formControlName="userName" required />
            <span *ngIf="loginVal.userName.touched  && loginVal.userName?.status === 'INVALID'" style="color:red">please
                enter name</span>
            <br /><br />
            <input type="password" formControlName="password" />
            <span *ngIf="loginVal.password.touched  && loginVal.password?.errors?.maxlength" style="color:red">max
                length should be 15</span>
            <span *ngIf="loginVal.password.touched  && loginVal.password?.errors?.minlength" style="color: red">min
                length shoule be 10</span>
        </form>
    </div>

    <button type="submit">submit</button>

</form>