<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
<input type="text" formControlName="userName" required/>
<span *ngIf="loginVal.userName.touched  && loginVal.userName?.status === 'INVALID'"  style="color:red">please enter name</span>
<br/><br/>
<input type="password" formControlName="password"/>
<!-- <span *ngIf="loginVal.password.touched  && loginVal.password?.status === 'INVALID'" 
 style="color:red">please enter password</span> -->
<span *ngIf="loginVal.password.touched  && loginVal.password?.errors?.maxlength" 
 style="color:red">max length should be 15</span>
<span *ngIf="loginVal.password.touched  && loginVal.password?.errors?.minlength" 
 style="color: red">min length shoule be 10</span>

<br/><br/>
<app-autocomplete></app-autocomplete>
<button type="submit">login</button>
</form>