<!-- one way binding -->
<h1>{{loginTitle | uppercase }}</h1> 
<h1>{{loginTitle | lowercase }}</h1> 
<h1>{{loginTitle | titlecase }}</h1> 
<p>Super power boost: {{2 | exponentialStrength:103:11}}</p>


<!-- two way -->

<div>
<mat-form-field class="">
    <input matInput type = "text" placeholder="UserName" name= "UserName" [(ngModel)] ="userName"/>
</mat-form-field>
<br/>
<br/>
<br/>

<mat-form-field class="">
    <input matInput type = "password" placeholder="password" name= "password" [(ngModel)] ="password"/>
</mat-form-field>

<br/>
<br/>
<mat-form-field>
    <mat-label>login Type</mat-label>
    <mat-select [(ngModel)]="loginType" name="loginType" matInput placeholder="loginType">
        <mat-option *ngFor="let item of loginTypeItems">{{item}}</mat-option>
    </mat-select>
</mat-form-field>

</div>



<button (click)="SignIn()">SignIn</button>



